@charset "UTF-8";

#tableCanvas {
  padding-bottom: 80px;
}

.livingSpaceTable td {
  position: relative;
}

.livingSpaceTable td img {
  display: block;
}

.livingSpaceAgentNum {
  position: absolute;
  left: -5px;
  z-index: 100;
  font-size: 110%;
  font-weight: bold;
  color: #fff;
}

.cell {
  z-index: 50;
  opacity: 0.8;
}

.livingSpace {
  width: 60px;
  height: 75px;
  /*z-index: 1000;*/
  background: #3C9F60;
  color: #fff;
  text-align: center;
  line-height: 75px;
}
