@charset "UTF-8";

#tableCanvas {
  padding-bottom: 80px;
}

.livingSpaceTable td {
  position: relative;
}

.livingSpaceAgentNum {
  position: absolute;
  left: -5px;
  z-index: 100;
  font-size: 110%;
  font-weight: bold;
  color: #fff;
}
