@charset "UTF-8";

/*ターンの文字調整*/
#turnText{
  text-align: left;
  font-size: 20px;
}

.graph_header{
  margin-bottom: 30px;
}

.navbar {
  float: right;
}

.navbar li {
  float: left;
  margin-right: 20px;
  list-style: none;
}

.navbar .selected {
  text-decoration: underline;
}
